body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
  }
.navbar{
    background-color: #1db954;
    display:flex;
    top:0;
    gap: 40px;
    justify-content: center;
    padding: 15px 0;
    top: 0;
}
.navbar a, .dropbtn {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #575757;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home{
  margin: 20px;
  padding: 0 70px;
}
.cards{
   color: white;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}
.card{
    background-color: #3f3e3e;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    box-shadow: black;
}
.card img{
    width: 50%;
    border-radius: 8px;
    border:2px solid grey;
    height: 80%;
}

.card p {
    font-size: 14px;
    color: rgb(207, 206, 202);
    overflow-wrap: break-word;
  }
  .cards1{
    color: white;
     margin: 20px;
     display: flex;
     gap:20px;
     flex-wrap: wrap;
     padding-left: 5%;
 }

.card1{
    background-color: #181818;
    padding: 15px;
    border-radius: 10px;
    width: 47%;
    max-width: 47.99%;
}
    
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #1db954;
  font-family: Arial, sans-serif;
  color: white;
}

footer .eng, footer .mm {
  flex: 1 1 300px;
  margin: 10px;
}

  @media screen and (max-width: 768px) {
    .cards {
      justify-content: center;
    }
  
    .card {
      width: 100%;
      max-width: 250px;
    }

    .cards1 {
      justify-content: center;
    }
  
    .card1 {
      width: 100%;
      max-width: 250px;
    }
  
    
    .navbar {
      flex-wrap: wrap;
      gap: 15px;
      padding: 10px;
    }
  
    .navbar a {
      font-size: 16px;
    }
  }
  