body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cfcfcf;
    color: rgb(0, 0, 0);
  }
.navbar{
    background-color: #1db954;
    display:flex;
    top:0;
    gap: 40px;
    justify-content: center;
    padding: 15px 0;
    top: 0;
}
.navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
.navbar a:hover{
    color: black;
    border-radius: 6px;
}

.home{
  margin: 20px;
  padding: 0 70px;
}
.cards{
   color: white;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}
.card{
    background-color: #3f3e3e;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 90%;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 50%;
    border-radius: 8px;
    border:2px solid grey;
    height: 80%;
}

.card p {
    font-size: 14px;
    color: rgb(173, 172, 169);
    overflow-wrap: break-word;
  }
  .cards1{
    color: white;
     margin: 20px;
     display: flex;
     gap:20px;
     flex-wrap: wrap;
 }

.card1{
    background-color: #181818;
    padding: 15px;
    border-radius: 10px;
    width: 140px;
    max-width: 48.99%;
}
.card1 img{
    width: 100%;
    border-radius: 8px;
    border:2px solid grey;
    height: 140px;
}
.card1:hover {
    transform: scale(1.05);
}
.card1 p {
    font-size: 14px;
    color: rgb(173, 172, 169);
    overflow-wrap: break-word;
  }
     
footer {
    background-color: #1db954;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    .cards {
      justify-content: center;
    }
  
    .card {
      width: 100%;
      max-width: 250px;
    }
  
    
    .navbar {
      flex-wrap: wrap;
      gap: 15px;
      padding: 10px;
    }
  
    .navbar a {
      font-size: 16px;
    }
  }
  